*
!*.so
!*.c
!*.h
!*.cpp
!*.py
!*.md
!/**/
items/big_items/everyday/
.idea/
.idea/*
venv
venv/*


!/**/makefile
!/**/Makefile

/**/client
!/**/client/
/**/server
!/**/server/
/**/a.out
package.json
package-lock.json
node_modules
yarn.lock
!myconfigs/*
/**/nohub.out
!/**/vscode/*
!/**/ssh/*
!items/big_items/linuxc/chatroom/config.json
!items/big_items/linuxc/chatroom/log/*.conf
!items/big_items/linuxc/chatroom/.gitignore


# items/big_items/linuxc/chatroom/a.out
!/**/CMakeLists.txt
!/**/Doxyfile
# items/big_items/linuxc/chatroom/*
!/**/*.hpp
